<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>

    </configSections>
    <connectionStrings>
        <add name="PlannerLib.Properties.Settings.DetroitConnectionString"
            connectionString="Data Source=LUND\SQLEXPRESS;Initial Catalog=Detroit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>