<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>




  <connectionStrings>
    <add name="Tests.Properties.Settings.DetroitConnectionString"
      connectionString="Data Source=LUND\SQLEXPRESS;Initial Catalog=Detroit;Integrated Security=True" />
    <add name="Tests.Properties.Settings.DetroitConnectionString1"
      connectionString="Data Source=LUND\SQLEXPRESS;Initial Catalog=Detroit;Persist Security Info=True;User ID=admin;Password=1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <applicationSettings>
        <Tests.Properties.Settings>
            <setting name="Setting1" serializeAs="String">
                <value>ABC</value>
            </setting>
            <setting name="LineType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OPCServer" serializeAs="String">
                <value>Matrikon.OPC.Simulation.2</value>
            </setting>
        </Tests.Properties.Settings>
    </applicationSettings>
</configuration>