<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Security.Properties.Settings.masterConnectionString"
            connectionString="Data Source=LUND\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Security.Properties.Settings.DetroitConnectionString"
            connectionString="Data Source=LUND\SQLEXPRESS;Initial Catalog=Detroit;Persist Security Info=True;User ID=admin;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>