<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LineManagerApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="LineService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="LogisticTcp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />      
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="LineService.Properties.Settings.DetroitConnectionString"
      connectionString="Data Source=LUND\SQLEXPRESS;Initial Catalog=Detroit;Integrated Security=True" />
    <add name="LineManagerApp.Properties.Settings.DetroitConnectionString"
      connectionString="Data Source=LUND\SQLEXPRESS;Initial Catalog=Detroit;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Security.Properties.Settings.DetroitConnectionString"
      connectionString="Data Source=LUND\SQLEXPRESS;Initial Catalog=Detroit;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Admin.Properties.Settings.DetroitConnectionString"
      connectionString="Data Source=LUND\SQLEXPRESS;Initial Catalog=Detroit;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PlannerLib.Properties.Settings.DetroitConnectionString"
      connectionString="Data Source=LUND\SQLEXPRESS;Initial Catalog=Detroit;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AppLog.Properties.Settings.DetroitConnectionString"
      connectionString="Data Source=LUND\SQLEXPRESS;Initial Catalog=Detroit;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LineManagerApp.Properties.Settings.DetroitConnectionString1"
      connectionString="Data Source=LUND\SQLEXPRESS;Initial Catalog=Detroit;Persist Security Info=True;User ID=admin;Password=1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAssembLine" closeTimeout="10:00:02"
          openTimeout="10:00:02" receiveTimeout="10:00:02" sendTimeout="10:00:02"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAssembLine2" closeTimeout="00:00:02"
          openTimeout="00:00:02" receiveTimeout="00:00:02" sendTimeout="00:00:02"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAssembLine" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IAssembLine1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILogistic" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILogistic1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IAssembLine2">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ILogistic2">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <client>
      <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAssembLine"
        contract="ServiceReference2.IAssembLine" name="NetTcpBinding_IAssembLine" />
      <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAssembLine"
        contract="LineServiceReference.IAssembLine" name="NetTcpBinding_IAssembLine" />
      <endpoint address="net.tcp://localhost:10001/LineService1" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ILogistic" contract="ServiceReference1.ILogistic"
        name="NetTcpBinding_ILogistic1" />
      <endpoint address="net.tcp://localhost:10002/LineService2" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ILogistic" contract="ServiceReference1.ILogistic"
        name="NetTcpBinding_ILogistic2" />
      <endpoint address="net.tcp://localhost:10000/LineService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IAssembLine1" contract="ServiceReference1.IAssembLine"
        name="NetTcpBinding_IAssembLine" />
      <endpoint address="net.tcp://localhost:10000/LineService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ILogistic1" contract="ServiceReference1.ILogistic"
        name="NetTcpBinding_ILogistic" />
      <endpoint address="net.tcp://localhost:10022/LineService/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IAssembLine2" contract="LineServiceReference.IAssembLine"
        name="NetTcpBinding_IAssembLine1" />
      <endpoint address="net.tcp://localhost:10022/LineService/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ILogistic2" contract="LineServiceReference.ILogistic"
        name="NetTcpBinding_ILogistic3" />

      <endpoint address="net.tcp://localhost:10000/LineService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IAssembLine" contract="ServiceReference.IAssembLine"
        name="NetTcpBinding_IAssembLine" />
      
    </client>  
    
    
  </system.serviceModel>



  <applicationSettings>
    <LineManagerApp.Properties.Settings>
      <setting name="BasePort" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="EndpointAddress" serializeAs="String">
        <value>net.tcp://localhost</value>
      </setting>
      <setting name="EndpointName" serializeAs="String">
        <value>NetTcpBinding_IAssembLine</value>
      </setting>
    </LineManagerApp.Properties.Settings>

    <LogisticTcp.Properties.Settings>
      <setting name="LineId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="StationIndex" serializeAs="String">
        <value>1</value>
      </setting>
    </LogisticTcp.Properties.Settings>    
    
  </applicationSettings>
</configuration>